[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Grupo-Emergentes/eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Grupo-Emergentes/api-gateway.git
